vti_encoding:SR|utf8-nl
vti_author:SR|YODA\\Munehiro
vti_modifiedby:SR|DESKTOP-KPQIUR2\\asall
vti_timelastmodified:TR|11 May 2023 14:25:18 -0000
vti_timecreated:TR|13 Jul 2014 08:07:31 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|contact.html publication.html labPageTemplate.dwt news.html publicationxx.html publication00.html index\\ (DESKTOP-KPQIUR2's\\ conflicted\\ copy\\ 2022-05-31).html people_2019.html index.html people.html research.html Untitled_2.html publication202012.html publication_202106.html
vti_nexttolasttimemodified:TW|15 Dec 2020 10:26:28 -0000
vti_cacheddtm:TX|11 May 2023 14:25:18 -0000
vti_filesize:IR|5571
vti_cachedlinkinfo:VX|S|../Images/labPhoto_201902.jpg
vti_cachedsvcrellinks:VX|FSUS|Images/labPhoto_201902.jpg
